body {
    height: 100vh;
}

/* 992px and up */
@media only screen and (min-width: 992px) {
    body {
        padding: 0% 10%;
        height: 100vh;
    }
}

/* 992px and below */
@media only screen and (max-width: 992px) {
    #navigation_bar .nav-link {
        margin-right: 10px;
    }
}

/* 576px and below */
@media only screen and (max-width: 576px) {
    #welcome_message {
        display: none;
    }
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled:hover {
    color: inherit;
    text-decoration: underline;
}

.comments {
    list-style: none;
}

.comments p {
    margin: 0;
}

.comment-text a {
    color: inherit;
    list-style: none;
}

#login_alert {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.bi-caret-up {
    color: green;
    scale: 1.3;
    bottom: 0;
    position: relative;
    transition: bottom ease 0.25s;
}

.bi-caret-up:hover {
    bottom: 2px;
}

.bi-caret-up-fill {
    color: green;
    scale: 1.3;
    bottom: 0;
    position: relative;
    transition: bottom ease 0.25s;
}

.bi-caret-up-fill:hover {
    bottom: 2px;
}

.bi-caret-down {
    color: orange;
    scale: 1.3;
    top: 0;
    position: relative;
    transition: top ease 0.25s;
}

.bi-caret-down:hover {
    top: 2px;
}

.bi-caret-down-fill {
    color: orange;
    scale: 1.3;
    top: 0;
    position: relative;
    transition: top ease 0.25s;
}

.bi-caret-down-fill:hover {
    top: 2px;
}
