body {
    padding: 0% 10%;
    height: 100vh;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled:hover {
    color: inherit;
    text-decoration: underline;
}

.comments {
    list-style: none;
}

.comments p {
    margin: 0;
}

.comment-text a {
    color: inherit;
    list-style: none;
}
