[Unit]
Description=gunicorn.service - Flask application
After=network.target

[Service]
User=daniel
Group=www-data
WorkingDirectory=/srv/www/hacker_news
Environment="PATH=/srv/www/hacker_news/env/bin"
ExecStart=/srv/www/hacker_news/env/bin/gunicorn --workers 3 --bind unix:hacker_news.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
