{% extends 'base.html' %} {% block title%} Home {% endblock %}
{% set active_page = "home" %}
{% block body %}
<nav>
    <div
        class="nav nav-pills align-items-center justify-content-end mb-2"
        id="storyTabs"
        role="tablist"
    >
        <a
            class="btn btn-link me-auto"
            href="{{ url_for('home.update') }}"
            onclick="toggle_refresh()"
            role="button"
            style="text-decoration: none"
        >
            Refresh&nbsp;
            <div
                class="spinner-border spinner-border-sm text-primary"
                role="status"
                id="refresh_icon"
                style="display: none"
            ></div>
        </a>
        <a
            class="nav-link active"
            id="nav-top-tab"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            href="#top_stories"
        >
            Top Stories
        </a>
        <a
            class="nav-link"
            id="nav-new-tab"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            href="#new_stories"
        >
            New Stories
        </a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div
        class="tab-pane fade show active"
        id="top_stories"
        role="tabpanel"
        tabindex="0"
    >
        <table class="table table-striped table-hover">
            {% for count, story, publish_time, like_status in top_stories %}        
            <tr onclick="click_story({{ story.id }})">
                <td>
                    <div class="d-flex px-2">
                        <div class="pe-2"># {{ count }}</div>
                        <div class="d-flex flex-column px-2">
                        {% if like_status == "like" %}
                            <i id="like" class="liked bi bi-caret-up-fill"
                                onmouseover="hover_like(this)"
                                onmouseout="unhover_like(this)"
                                onclick="toggle_like(this, {{ story.id }})"
                            ></i>
                            <i id="dislike" class="bi bi-caret-down"
                                onmouseover="hover_dislike(this)"
                                onmouseout="unhover_dislike(this)"
                                onclick="toggle_dislike(this, {{ story.id }})"
                            ></i>
                        {% elif like_status == "dislike" %}
                            <i id="like" class="bi bi-caret-up"
                                onmouseover="hover_like(this)"
                                onmouseout="unhover_like(this)"
                                onclick="toggle_like(this, {{ story.id }})"
                            ></i>
                            <i id="dislike" class="disliked bi bi-caret-down-fill"
                                onmouseover="hover_dislike(this)"
                                onmouseout="unhover_dislike(this)"
                                onclick="toggle_dislike(this, {{ story.id }})"
                            ></i>
                        {% else %}
                            <i id="like" class="bi bi-caret-up"
                                onmouseover="hover_like(this)"
                                onmouseout="unhover_like(this)"
                                onclick="toggle_like(this, {{ story.id }})"
                            ></i>
                            <i id="dislike" class="bi bi-caret-down"
                                onmouseover="hover_dislike(this)"
                                onmouseout="unhover_dislike(this)"
                                onclick="toggle_dislike(this, {{ story.id }})"
                            ></i>
                        {% endif %}
                        </div>
                        <div>
                            <div>
                                <a
                                    class="fw-bold link-unstyled"
                                    href="{{ story.url }}"
                                    >{{ story.title }}</a
                                >
                            </div>
                            <small>
                                {{ story.score }} points by {{ story.author }}
                                {% if publish_time > 60 %}
                                {{ publish_time // 60}} hours ago |
                                {% else %} {{ publish_time }} minutes ago |
                                {% endif %}
                                <a
                                    class="link-unstyled"
                                    href="{{ url_for('story.index', id=story.id) }}"
                                    >{{ story.num_comments }} comments</a
                                >
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="tab-pane fade" id="new_stories" role="tabpanel" tabindex="0">
        <table class="table table-striped">
            {% for count, story, publish_time, like_status in new_stories %}
            <tr>
                <td>
                    <div class="d-flex px-2">
                        <div class="pe-2"># {{ count }}</div>
                        <div class="d-flex flex-column px-2">
                        {% if like_status == "like" %}
                            <i id="like" class="liked bi bi-caret-up-fill"
                                onmouseover="hover_like(this)"
                                onmouseout="unhover_like(this)"
                                onclick="toggle_like(this, {{ story.id }})"
                            ></i>
                            <i id="dislike" class="bi bi-caret-down"
                                onmouseover="hover_dislike(this)"
                                onmouseout="unhover_dislike(this)"
                                onclick="toggle_dislike(this, {{ story.id }})"
                            ></i>
                        {% elif like_status == "dislike" %}
                            <i id="like" class="bi bi-caret-up"
                                onmouseover="hover_like(this)"
                                onmouseout="unhover_like(this)"
                                onclick="toggle_like(this, {{ story.id }})"
                            ></i>
                            <i id="dislike" class="disliked bi bi-caret-down-fill"
                                onmouseover="hover_dislike(this)"
                                onmouseout="unhover_dislike(this)"
                                onclick="toggle_dislike(this, {{ story.id }})"
                            ></i>
                        {% else %}
                            <i id="like" class="bi bi-caret-up"
                                onmouseover="hover_like(this)"
                                onmouseout="unhover_like(this)"
                                onclick="toggle_like(this, {{ story.id }})"
                            ></i>
                            <i id="dislike" class="bi bi-caret-down"
                                onmouseover="hover_dislike(this)"
                                onmouseout="unhover_dislike(this)"
                                onclick="toggle_dislike(this, {{ story.id }})"
                            ></i>
                        {% endif %}
                        </div>
                        <div>
                            <div>
                                <a
                                    class="fw-bold link-unstyled"
                                    href="{{ story.url }}"
                                    >{{ story.title }}</a
                                >
                            </div>
                            <small>
                                {{ story.score }} points by {{ story.author }}
                                {% if publish_time > 60 %}
                                {{ publish_time // 60}} hours ago |
                                {% else %} {{ publish_time }} minutes ago |
                                {% endif %}
                                <a
                                    class="link-unstyled"
                                    href="{{ url_for('story.index', id=story.id) }}"
                                    >{{ story.num_comments }} comments</a
                                >
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script>
    const click_story = (story_id) => {
        window.location.replace(`/story/${story_id}`);
    };

    /* Function for triggering visual updates*/
    const toggle_refresh = () => {
        refresh_icon = document.getElementById("refresh_icon");
        refresh_icon.style.display = "";
    };

    /* Returns bool of if login is required */
    const get_login_required = (res) => {
        params = (new URL(res.url)).searchParams;
        url_params = new URLSearchParams(params);
        return url_params.get("login_required");
    }

    /* Toggle story like */
    const toggle_like = (element, story_id) => {
        let url = `/story/${story_id}/like`;
        
        /* Toggle like button if story is disliked already */
        const dislike_button = element.parentElement.querySelector("#dislike");
        if (dislike_button.classList.contains("disliked")) {
            toggle_dislike(dislike_button, story_id);
        }

        /* If element is liked already, unlike it */
        if (element.classList.contains("liked")) {
            element.classList.remove("liked");
            element.classList.remove("bi-caret-up-fill");
            element.classList.add("bi-caret-up");
            url += "/remove";
        }
        else {
            element.classList.add("liked");
            element.classList.remove("bi-caret-up");
            element.classList.add("bi-caret-up-fill");
            url += "/add";
        }

        fetch(url).then((res) => {
            if (get_login_required(res)) {
                window.location.replace(res.url);
            }
        });
    }

    /* Toggle story dislike */
    const toggle_dislike = (element, story_id) => {
        let url = `/story/${story_id}/dislike`;

        /* Toggle like button if story is liked already */
        const like_button = element.parentElement.querySelector("#like");
        if (like_button.classList.contains("liked")) {
            toggle_like(like_button, story_id);
        }

        /* If element is disliked already, undislike it */
        if (element.classList.contains("disliked")) {
            element.classList.remove("disliked");
            element.classList.remove("bi-caret-down-fill");
            element.classList.add("bi-caret-down");
            url += "/remove";
        }
        else {
            element.classList.add("disliked");
            element.classList.remove("bi-caret-down");
            element.classList.add("bi-caret-down-fill");
            url += "/add";
        }

        fetch(url).then((res) => {
            if (get_login_required(res)) {
                window.location.replace(res.url);
            }
        });
    }

    const hover_like = (element) => {
        element.classList.remove("bi-caret-up");
        element.classList.add("bi-caret-up-fill");
    };

    const unhover_like = (element) => {
        if (!element.classList.contains("liked")) {
            element.classList.remove("bi-caret-up-fill");
            element.classList.add("bi-caret-up");
        }
    };

    const hover_dislike = (element) => {
        element.classList.remove("bi-caret-down");
        element.classList.add("bi-caret-down-fill");
    };

    const unhover_dislike = (element) => {
        if (!element.classList.contains("disliked")) {
            element.classList.remove("bi-caret-down-fill");
            element.classList.add("bi-caret-down");
        }
    };
</script>
{% endblock body %}
