{% extends 'base.html' %} {% set active_page = "profile" %}
{% block title%}{{ g.current_user.nickname }}{% endblock %}
{% block body %}
<h1 class="text-center pt-5 pb-4">
    <strong>
    Profile
    </strong>
</h1>
<div class="shadow rounded p-4 mb-5">
    <p class="text-secondary mb-0">Name:</p>
    <h2 class="pb-2">{{g.current_user.name}}</h2>
    <p class="text-secondary mb-0">Nickname:</p>
    <h2 class="pb-2">{{g.current_user.nickname}}</h2>
    <p class="text-secondary mb-0">Email:</p>
    <h2 class="pb-2">{{g.current_user.email}}</h2>
    <p class="text-secondary mb-0">Role:</p>
    <h2 class="pb-2">{{g.current_user.role}}</h2>
</div>
{% endblock body %}
