{% extends 'base.html' %} {% block title%} {{ story.title }} {% endblock %}{%
block body %}
<table class="table table-striped">
    <tr>
        <td>
            <div class="d-flex px-2">
                <div>
                    <div>
                        <a class="fw-bold link-unstyled" href="{{ story.url }}"
                            >{{ story.title }}</a
                        >
                    </div>
                    <small>
                        {{ story.score }} points by {{ story.author }} {% if
                        publish_time > 60 %} {{ publish_time // 60}} hours ago |
                        {% else %} {{ publish_time }} minutes ago | {% endif %}
                        <a
                            class="link-unstyled"
                            href="{{ url_for('story.index', id=story.id) }}"
                            >{{ story.num_comments }} comments</a
                        >
                    </small>
                </div>
            </div>
        </td>
    </tr>
    {% endblock body %}
</table>
